__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.praman_cache/
marathi_web.db-wal
marathi_web.db-shm
marathi_web.db
marathi_web.db.gz.part_*
